@font-face {
  font-family: Reckless;
  src: url("../assets/fonts/Reckless-Medium.woff2") format("woff2"),
    url("../assets/fonts/Reckless-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Regular.woff2") format("woff2"),
    url("../assets/fonts/Aeonik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-RegularItalic.woff2") format("woff2"),
    url("../assets/fonts/Aeonik-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Medium.woff2") format("woff2"),
    url("../assets/fonts/Aeonik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Aeonik;
  src: url("../assets/fonts/Aeonik-Bold.woff2") format("woff2"),
    url("../assets/fonts/Aeonik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
